<md-list flex>
  <md-divider ></md-divider>
  <md-subheader class="md-no-sticky">Help</md-subheader>
  <md-list-item class="md-2-line" style="background: #fafafa;">
    <div class="md-list-item-text">
      <h3>1. git clone https://github.com/anshul-shukla/toppr</h3>
    </div>
  </md-list-item>
  <md-list-item class="md-2-line" style="background: #fafafa;">
    <div class="md-list-item-text">
      <h3>2. npm install & bower install</h3>
    </div>
  </md-list-item>
  <md-list-item class="md-2-line" style="background: #fafafa;">
    <div class="md-list-item-text">
      <h3>3. grunt serve</h3>
    </div>
  </md-list-item>
</md-list>
